/* *******************  css edit  ******************  */

select {
    font-family: FontAwesome, Ionicons, sans-serif;
}

/*  validation  */
.msg-error {
    color: #d9534f;
    font-size: 13px;
    padding-top: 4px;
    padding-left: 5px;
}

.input-error,
.input-error:hover,
.input-error:focus {
    border-color: #d9534f;
}

.login-register-form {
    width: 50%;
}

/*  modal   */
.modal-card-header {
    border-bottom: 1px solid #eee;
    padding: 0 24px 10px;
    width: 100%;
}

/*************************************/ 
/*  ********  home page  ********   */
/***********************************/
.albums_header .links,
.albums_header .links > button {
    font-size: 14px;
    font-weight: 400;
}

.albums_header .links > button {
    background: none;
    border: none;
    color: #ff4136;
    padding: 0;
}

.album_link,
.album_image_container {
    display: inline-block;
    position: relative;
}

.album_link { 
    margin: 20px 8px 16px 15px;
    width: 95%;
    height: 218px;
 }

 .album_image_container {
    margin: 12px 8px;
    width: 97%;
    height: 228px;
 }

.album_category,
.album_image {
    border: 1px solid #eee;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.album_image {
    box-shadow: 2px 2px 6px #bbb;
}

.album_category_off,
.album_image_off {
    background-color: #111;
    opacity: 0;
    z-index: 4;
}
.album_category_off:hover,
.album_image_off:hover {
    opacity: 0.25;
}

.album_category_2 {
    z-index: 2;
}
.album_category_3 {
    transform: rotate(-9deg);
    width: 94%;
    z-index: 1;
}

.album_name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 12px;
}

/************************************/
/*  *******  verify page   *******  */
/***********************************/
.verify_after_register {
    padding: 58px 8px;
    align-items: center;
}

.verify_after_register .register_success_icon,
.verify_after_register .register_error_icon {
    font-size: 42px;
}
.verify_after_register .register_success_icon { color: #38bf56; }
.verify_after_register .register_error_icon { color: #d82118; }

.verify_after_register .register_success_content {
    font-size: 26px;
    margin-bottom: 44px;
}

.verify_after_register .register_success_links a,
.verify_after_register .register_success_links button {
    background: none;
    border: none;
    color: #ff4136;
    font-size: 14px;
    margin: 0 8px;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
	.album_info:nth-child(4n+1) .album_image_container { margin-left: 0 }
    .album_info:nth-child(4n) .album_image_container { margin-right: 0 }
}

@media screen and (max-width: 768px) {
	.container-fluid {
        padding-left: 38px;
        padding-right: 38px;
    }

    .login-register-form {
        width: 84%;
    }

    .albums_header .links {
        margin-top: 12px;
        text-align: left;
    }

    .album_image_container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

}