/* *******************  css edit  ******************  */

select {
    font-family: FontAwesome, Ionicons, sans-serif;
}

/* header */
.drawer-header {
    padding: 18px 24px 2px;
}

.drawer-header .logo1 {
    font-size: 34px;
    font-weight: bold;
    color: #222;
}

.drawer-header .logo2 {
    font-size: 22px;
    font-weight: bold;
    color: #ff4136;
}

.dropdown-header a {
    color: #666 !important;
    padding: 2px 0 !important;
    text-transform: capitalize !important;
}
.dropdown-header a:hover { color: #000 !important }

.my-profile-dropdown {
    padding: 0;
    width: 160px !important;
    margin-top: 6px !important;
    right: 12px !important;
}

.my-profile-dropdown li > a,
.my-profile-dropdown li > button{
    background: none;
    border:none;
    display: block;
    padding: 9px 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    width: 100%;
    text-align: left;
}

.my-profile-dropdown li:hover > a,
.my-profile-dropdown li:hover > button{
    color: #262626;
    background-color: #f9f9f9;
    padding-left:25px;
    transition: all 0.3s linear;
}

/*  validation  */
.msg-error {
    color: #d9534f;
    font-size: 13px;
    padding-top: 4px;
    padding-left: 5px;
}

.input-error,
.input-error:hover,
.input-error:focus {
    border-color: #d9534f;
}

/*  modal   */
.modal-card-header {
    border-bottom: 1px solid #eee;
    padding: 0 24px 10px;
    width: 100%;
}

/*************************************/ 
/*  ********  home page  ********   */
/***********************************/
.albums_header .links > button {
    background: none;
    border: none;
    color: #ff4136;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}

.album_link,
.album_image_container {
    display: inline-block;
    width: 92%;
    height: 208px;
    margin: 20px 8px 16px 22px;
    position: relative;
}
.album_category,
.album_image {
    border: 1px solid #eee;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.album_image {
    box-shadow: 2px 2px 6px #bbb;
}

.album_category_off,
.album_image_off {
    background-color: #111;
    opacity: 0;
    z-index: 4;
}
.album_category_off:hover,
.album_image_off:hover {
    opacity: 0.25;
}

.album_category_2 {
    z-index: 2;
}
.album_category_3 {
    transform: rotate(-9deg);
    width: 94%;
    z-index: 1;
}

.album_name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 12px;
}

/************************************/
/*  *******  verify page   *******  */
/***********************************/
.verify_after_register {
    padding: 58px 8px;
    align-items: center;
}

.verify_after_register .register_success_icon,
.verify_after_register .register_error_icon {
    font-size: 42px;
}
.verify_after_register .register_success_icon { color: #38bf56; }
.verify_after_register .register_error_icon { color: #d82118; }

.verify_after_register .register_success_content {
    font-size: 26px;
    margin-bottom: 44px;
}

.verify_after_register .register_success_links a,
.verify_after_register .register_success_links button {
    background: none;
    border: none;
    color: #ff4136;
    font-size: 14px;
    margin: 0 8px;
    text-decoration: underline;
}


/************************************/
/*  *******  items list   *******  */
/**********************************/

.js-dataTable-simple {
    font-size: 14px;
}

.js-dataTable-simple th.field-sort {
    cursor: pointer;
}

.js-dataTable-simple th.field-sort i {
    font-size: 12px;
}

.js-dataTable-simple .status {
    cursor: text;
    font-size: 13px;
    padding: 3px 7px;
}

.table .btn-group .btn {
    font-size: 16px;
    padding: 4px 8px;
}
.table .btn-group .btn:last-child {
    padding-left: 10px;
    padding-right: 10px;
}

/*************************************/
/*  ******   profile page   ******  */
/***********************************/
.edit_profile_image,
.edit_banner_image {
    position: relative;
}
.edit_banner_image {
    border: 1px solid #f3f3f3;
    height: 160px;
}

.edit_profile_image img {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.edit_banner_image img {
    width: 100%;
    height: 100%;
}

.edit_profile_image .image_label,
.edit_banner_image .image_label {
    color: #888;
    font-size: 16px;
    position: absolute;
}
.edit_profile_image .image_label{
    top: 104px;
    left: 106px;
}
.edit_banner_image .image_label{
    top: 140px;
    right: 0;
}

.edit_profile_image .image_label:hover,
.edit_banner_image .image_label:hover {
    color: #444;
}

.edit_profile_image .image_input,
.edit_banner_image .image_input {
    display: none;
}